{% extends "base/default.html" %}

{% block content %}

<div class="container mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 py-5" id="dashboard-icons">
        <div class="grid gap-5
               grid-cols-2 px-5 
            md:grid-cols-3 md:px-0
            lg:grid-cols-4
        ">
            <a class="bg-gradient-to-r from-green-500 to-green-700 hover:from-yellow-500 hover:to-pink-500 text-white hover:text-gray-900 text-center px-10 py-5 rounded shadow transition-all duration-500" href="#">
                <i class="bi bi-file-post text-4xl"></i>
                <p class="mt-3">Atalho</p>
            </a>
            <a class="bg-gradient-to-r from-green-500 to-green-700 hover:from-yellow-500 hover:to-pink-500 text-white hover:text-gray-900 text-center px-10 py-5 rounded shadow transition-all duration-500" href="#">
                <i class="bi bi-file-post text-4xl"></i>
                <p class="mt-3">Atalho</p>
            </a>
            <a class="bg-gradient-to-r from-green-500 to-green-700 hover:from-yellow-500 hover:to-pink-500 text-white hover:text-gray-900 text-center px-10 py-5 rounded shadow transition-all duration-500" href="#">
                <i class="bi bi-file-post text-4xl"></i>
                <p class="mt-3">Atalho</p>
            </a>
            <a class="bg-gradient-to-r from-green-500 to-green-700 hover:from-yellow-500 hover:to-pink-500 text-white hover:text-gray-900 text-center px-10 py-5 rounded shadow transition-all duration-500" href="#">
                <i class="bi bi-file-post text-4xl"></i>
                <p class="mt-3">Atalho</p>
            </a>
            <a class="bg-gradient-to-r from-green-500 to-green-700 hover:from-yellow-500 hover:to-pink-500 text-white hover:text-gray-900 text-center px-10 py-5 rounded shadow transition-all duration-500" href="#">
                <i class="bi bi-file-post text-4xl"></i>
                <p class="mt-3">Atalho</p>
            </a>
            <a class="bg-gradient-to-r from-green-500 to-green-700 hover:from-yellow-500 hover:to-pink-500 text-white hover:text-gray-900 text-center px-10 py-5 rounded shadow transition-all duration-500" href="#">
                <i class="bi bi-file-post text-4xl"></i>
                <p class="mt-3">Atalho</p>
            </a>
            <a class="bg-gradient-to-r from-green-500 to-green-700 hover:from-yellow-500 hover:to-pink-500 text-white hover:text-gray-900 text-center px-10 py-5 rounded shadow transition-all duration-500" href="#">
                <i class="bi bi-file-post text-4xl"></i>
                <p class="mt-3">Atalho</p>
            </a>
            <a class="bg-gradient-to-r from-green-500 to-green-700 hover:from-yellow-500 hover:to-pink-500 text-white hover:text-gray-900 text-center px-10 py-5 rounded shadow transition-all duration-500" href="#">
                <i class="bi bi-file-post text-4xl"></i>
                <p class="mt-3">Atalho</p>
            </a>
        </div>
        <div class="mx-5 sm:mx-0 rounded border border-gray-100 dark:border-gray-700 px-5 py-3 shadow" id="dashboard-panel">
            <h3 class="mb-3">Outras coisas aqui</h3>
            <hr class="dark:border-gray-700">
            <p class="py-5">
                <button class="btn-dark bg-indigo-500 hover:bg-indigo-600">Ok</button>
            </p>
        </div>
    </div>
</div>
{% endblock %}
