{% extends "base/default.html" %}

{% block content %}
<div class="container mx-auto">

    <div class="grid grid-cols-2 gap-5 py-5" id="dashboard-icons">
        
        <div class="grid grid-cols-4 gap-5">
            <a class="bg-gradient-to-r from-green-400 to-green-700 hover:from-yellow-500 hover:to-pink-500 text-white text-center px-10 py-5 rounded" href="#">
                <i class="bi bi-file-post text-4xl"></i>
                <p class="mt-3">Atalho</p>
            </a>
            <a class="bg-gradient-to-r from-green-400 to-green-700 hover:from-yellow-500 hover:to-pink-500 text-white text-center px-10 py-5 rounded" href="#">
                <i class="bi bi-file-post text-4xl"></i>
                <p class="mt-3">Atalho</p>
            </a>
            <a class="bg-gradient-to-r from-green-400 to-green-700 hover:from-yellow-500 hover:to-pink-500 text-white text-center px-10 py-5 rounded" href="#">
                <i class="bi bi-file-post text-4xl"></i>
                <p class="mt-3">Atalho</p>
            </a>
            <a class="bg-gradient-to-r from-green-400 to-green-700 hover:from-yellow-500 hover:to-pink-500 text-white text-center px-10 py-5 rounded" href="#">
                <i class="bi bi-file-post text-4xl"></i>
                <p class="mt-3">Atalho</p>
            </a>
            <a class="bg-gradient-to-r from-green-400 to-green-700 hover:from-yellow-500 hover:to-pink-500 text-white text-center px-10 py-5 rounded" href="#">
                <i class="bi bi-file-post text-4xl"></i>
                <p class="mt-3">Atalho</p>
            </a>
            <a class="bg-gradient-to-r from-green-400 to-green-700 hover:from-yellow-500 hover:to-pink-500 text-white text-center px-10 py-5 rounded" href="#">
                <i class="bi bi-file-post text-4xl"></i>
                <p class="mt-3">Atalho</p>
            </a>
            <a class="bg-gradient-to-r from-green-400 to-green-700 hover:from-yellow-500 hover:to-pink-500 text-white text-center px-10 py-5 rounded" href="#">
                <i class="bi bi-file-post text-4xl"></i>
                <p class="mt-3">Atalho</p>
            </a>
            <a class="bg-gradient-to-r from-green-400 to-green-700 hover:from-yellow-500 hover:to-pink-500 text-white text-center px-10 py-5 rounded" href="#">
                <i class="bi bi-file-post text-4xl"></i>
                <p class="mt-3">Atalho</p>
            </a>
            
        </div>

        <div class="" id="dashboard-panel">
            <h3>Outras coisas aqui</h3>
        </div>
    
    </div>

    

</div>
{% endblock %}
