{% extends "base/default.html" %}

{% block content %}
<div class="container py-3">
    <div class="row">
        <div class="col-md-6" id="dashboard-icons">
            <div class="row">
                <div class="col-6 col-md-4 d-grid py-3">
                    <a href="#" class="btn btn-primary">
                        <i class="bi bi-file-post w-100" style="font-size:4rem;"></i>
                        <p class="w-100">Atalho</p>
                    </a>
                </div>
                <div class="col-6 col-md-4 d-grid py-3">
                    <a href="#" class="btn btn-primary">
                        <i class="bi bi-file-post w-100" style="font-size:4rem;"></i>
                        <p class="w-100">Atalho</p>
                    </a>
                </div>
                <div class="col-6 col-md-4 d-grid py-3">
                    <a href="#" class="btn btn-primary">
                        <i class="bi bi-file-post w-100" style="font-size:4rem;"></i>
                        <p class="w-100">Atalho</p>
                    </a>
                </div>
                <div class="col-6 col-md-4 d-grid py-3">
                    <a href="#" class="btn btn-primary">
                        <i class="bi bi-file-post w-100" style="font-size:4rem;"></i>
                        <p class="w-100">Atalho</p>
                    </a>
                </div>
                <div class="col-6 col-md-4 d-grid py-3">
                    <a href="#" class="btn btn-primary">
                        <i class="bi bi-file-post w-100" style="font-size:4rem;"></i>
                        <p class="w-100">Atalho</p>
                    </a>
                </div>
                <div class="col-6 col-md-4 d-grid py-3">
                    <a href="#" class="btn btn-primary">
                        <i class="bi bi-file-post w-100" style="font-size:4rem;"></i>
                        <p class="w-100">Atalho</p>
                    </a>
                </div>
            </div>
            
        </div>
        <div class="col-md-6 py-3" id="dashboard-panel">
          <h3>Outras coisas aqui</h3>
        </div>
    </div>
    {% endblock %}
