{% load static %}

<!DOCTYPE html>
<html lang="pt-BR" {% if config.siteTheme == "Dark" %}class="dark"{% endif %}>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
            integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e"
            crossorigin="anonymous"
        >
        <title>{{ config.siteName }}</title>
        
        <link rel="stylesheet" href="/static/css/styles-{{ sufixo_css }}.css">


        <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js" defer></script>
    </head>
    <body class="dark:bg-gray-800 dark:text-white">
        <nav class="bg-gray-800 dark:bg-gray-900">
            <div class="container mx-auto">
                <div class="flex h-16 justify-between">
                    <div class="flex">
                        <a href="/" class="flex items-center text-white">
                            <i class="bi bi-tv mr-2 text-2xl"></i>
                            <span class="text-lg font-semibold">Dashboard</span>
                        </a>
                        <button class="text-white focus:outline-none lg:hidden">
                            <svg class="h-6 w-6" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path class="fill-current text-gray-300" d="M4 6h16M4 12h16M4 18h16"></path>
                            </svg>
                        </button>
                        <div class="hidden lg:flex lg:w-auto lg:items-center">
                            <ul class="flex items-start">
                                <li class="group relative" x-data="{ open: false }">
                                    <a href="#" class="flex items-center rounded-md px-5 py-2 text-white hover:text-gray-300" @click="open = !open">
                                        <i class="bi bi-sliders mr-2 text-lg"></i>
                                        <span class="font-medium">Sistema</span>
                                    </a>
                                    <ul class="absolute left-0 ml-2 mt-2 bg-gray-700 py-2 text-white" x-show="open" @click.away="open = false">
                                        <li>
                                            <a href="/users/" class="whitespace-nowrap block px-5 py-2 hover:bg-gray-600">
                                                <i class="bi bi-people-fill mr-2 text-lg"></i>
                                                Usuários
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/config/" class="whitespace-nowrap block px-5 py-2 hover:bg-gray-600">
                                                <i class="bi bi-nut mr-2 text-lg"></i>
                                                Configurações
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/clientes/" class="whitespace-nowrap block px-5 py-2 hover:bg-gray-600">
                                                <i class="bi bi-modem mr-2 text-lg"></i>
                                                Conexoes
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="group relative" x-data="{ open: false }">
                                    <a href="#" class="flex items-center rounded-md px-5 py-2 text-white hover:text-gray-300" @click="open = !open">
                                        <i class="bi bi-hdd mr-2 text-lg"></i>
                                        <span class="font-medium">Plugins</span>
                                    </a>
                                    <ul class="absolute left-0 ml-2 mt-2 bg-gray-700 py-2 text-white" x-show="open" @click.away="open = false">
                                        <li>
                                            <a href="#" class="whitespace-nowrap block px-5 py-2 hover:bg-gray-600">
                                                <i class="bi bi-file-post mr-2 text-lg"></i>
                                                Plugin 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="whitespace-nowrap block px-5 py-2 hover:bg-gray-600">
                                                <i class="bi bi-file-post mr-2 text-lg"></i>
                                                Plugin 2
                                            </a>
                                        </li>
                                        <li class="mt-2 border-t border-gray-600"></li>
                                        <li>
                                            <a href="#" class="whitespace-nowrap block px-5 py-2 hover:bg-gray-600">
                                                <i class="bi bi-usb-drive mr-2 text-lg"></i>
                                                Instalar Plugin
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="flex items-center">
                        <li class="group relative" x-data="{ open: false }">
                            <a href="#" class="flex items-center rounded-md px-5 py-2 text-white hover:text-gray-300" @click="open = !open">
                                <i class="bi bi-person-circle mr-2 text-lg"></i>
                                <span class="font-medium">John Doe</span>
                            </a>
                            <ul class="absolute left-0 ml-2 mt-2 bg-gray-700 py-2 text-white" x-show="open" @click.away="open = false">
                                <li>
                                    <a href="#" class="whitespace-nowrap block px-5 py-2 hover:bg-gray-600">
                                        <i class="bi bi-pencil-square mr-2 text-lg"></i>
                                        Meus Dados
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="whitespace-nowrap block px-5 py-2 hover:bg-gray-600">
                                        <i class="bi bi-box-arrow-right mr-2 text-lg"></i>
                                        Sair
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% if messages %}
        <div class="mb-4 text-center">
            {% for message in messages %}
            <div class="text-green-500 py-5">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}

        {% block content %}

        {% endblock %}
        
    </body>

    <script>
        console.log("{{ request.log }}");
    </script>
    
    
    
</html>
